extends ../layout 
block content 
	h1 Nueva solicitud de cuidados 
	form(action="/appointment", method="post")
		label(for="startDate") Fecha de inicio
		input(type="date" name="startDate" id="startDate")
		label(for="endDate") Fecha de fin 
		input(type="date" name="endDate" id="endDate")
		label(for="description") Descripción 
		input(type="textarea" name="description" id="description")
		button Enviar