extends layout

block content 
	h1(class="title__home") PURRFECTION 
	section(class="purrfection__home")
		section(class="cat__images")
			img(src="https://i.imgur.com/KPbPJrH.jpeg", alt="Imagen de gato")
		section(class="main__text")
			p Cuando tienes que irte, no hay nada como dejar a tu mascota en casa de una familia anfitriona. Porque nuestros gatos necesitan atención, comodidades y mucho cariño, y nuestros cuidadores están ahí para dárselo mientras tú no estás.
			p ¿Amas los gatos? ¡Conviértete en Purrfesional y cuida a los michis cuando más te necesiten!