html 
	head 
		title Purrfection 
		block styles
			link(rel="stylesheet", href="/styles.css")
	body 
		include navbar.pug 
		if error 
			p(class="error")= error 
		if message 
			p(class="message")= message 
		block content 