extends ../layout

block content
	section(class="section_reg")
		h1 Inicia sesión
		form(action="/login", method="post", class="reg__form")
			label(for="email") Email
			input(type="email" name="email" id="email")
			label(for="password") Contraseña 
			input(type="password" name="password" id="password")
			button Login